@import "../../../styles/variables/custom-var.scss";

.loginFormContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  z-index: 10;
  // padding: 3rem;
  & .loginContent {
    color: $light;
    & h1 {
      font-weight: bold;
      letter-spacing: 0.2em;
    }
  }
}
