@import "../../../styles/variables/custom-var.scss";
.pagination {
  display: flex;
  & .paginationItem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 10rem;
    background: $primary;
    color: $light;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    &.active {
      background-color: $secondary;
    }
    &.disabled {
      background-color: #2d2d2d;
      opacity: 0.7;
      pointer-events: none;
    }
    & + .paginationItem {
      margin-left: 0.5rem;
    }
  }
}
