@import "./fonts/proxima-nova.scss";
@import "./bootstrap.scss";
@import "./typography.scss";

.h-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movie-item {
  cursor: pointer;
}
.headerSwiperWrap {
  padding: 1.5rem 0;
  background-color: #eeeff8;
}
.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.swiperPagination {
  & .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    opacity: 0.5;
    margin: 5px;
    background-color: $light;
    &.swiper-pagination-bullet-active {
      background-color: $primary;
    }
  }
}
//mobile
.headerSwiper {
  width: 100%;
  height: 20rem;
  position: relative;
  .swiper-slide {
    width: 70%;
    height: 100%;
    & .overlay,
    img {
      border-radius: 1rem;
    }
  }
  .swiperArrow {
    display: none;
  }
  .swiperPagination {
    margin: 1.5rem auto;
  }
}
.movieSwiperNav {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
// desktop
@include media-breakpoint-up(lg) {
  .headerSwiperWrap {
    padding: 0;
    background-color: #eeeff8;
  }
  .headerSwiper {
    height: $slider-height;
    .swiper-slide {
      width: 100%;
      & .overlay,
      img {
        border-radius: 0;
      }
    }
    .swiperArrow {
      display: inherit;
    }
  }
}
