.h-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bg-primary {
  background: linear-gradient(135deg, #f9013f 0%, #8134af 100%);
}
.bg-light {
  background-color: white;
}
