.attachmentWrap {
  padding: 3rem;
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 1rem;
  & h1 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }
  & .editButton {
    background-color: #e6e8f8;
  }
  & .editAttachmentForm {
    padding: 0;
  }
  & .editImage {
    position: relative;
    padding: 50%;
    & img {
      border-radius: 1rem;
    }
  }
}
