$navHeight: 4rem;
$breakpoint: 992px;
$font-family-sans-serif: ProximaNova, system-ui, -apple-system, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$primary: #f9013f;
// $secondary: $gray-600;
// $success: $green;
// $info: $cyan;
// $warning: $yellow;
// $danger: $red;
$light: #fff;
$dark: #2d2d2d;

$theme-colors: (
  "primary": $primary,
  // "secondary": $secondary,
  // "success": $success,
  // "info": $info,
  // "warning": $warning,
  // "danger": $danger,
  "light": $light,
  "dark": $dark,
);
$nav-link-color: #2d2d2d;

$navbar-brand-font-size: 1.56rem;

$border-radius: 10rem;
$border-radius-sm: 10rem;
$border-radius-lg: 10rem;
$border-radius-pill: 10rem;
$btn-border-radius: 10rem;
$btn-border-radius-lg: 10rem;
$btn-border-radius-sm: 10rem;
$btn-padding-y: 0.5rem;
$btn-padding-x: 1.5rem;

$btn-padding-y-sm: 0.45rem;
$btn-padding-x-sm: 1rem;

$btn-padding-y-lg: 0.75rem;
$btn-padding-x-lg: 1.75rem;

//main
$slider-height: 42rem;
