.btnLight {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}

.btnLight:focus {
  border-color: white;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(217, 217, 217, 0.5);
  box-shadow: 0 0 0 0.25rem rgba(217, 217, 217, 0.5);
}

.btnLight:active:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(217, 217, 217, 0.5);
  box-shadow: 0 0 0 0.25rem rgba(217, 217, 217, 0.5);
}

//btn primary

.btnPrimary {
  color: white;
  background-color: #fff;
  background: linear-gradient(135deg, #f9013f 0%, #8134af 100%);
  border-color: white;
  &:hover,
  &:focus,
  &:active:focus {
    color: white;
    border-color: white;
  }
}
